logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/web/node_modules
/desktop/node_modules
/desktop/src-tauri/gen
/desktop/src-tauri/target
/desktop/src-tauri/Cargo.lock
/desktop/src-tauri/target/release/bundle/
